<div class="page-flex">
    <aside class="sidebar">

      <div class="sidebar-body">
          <ul class="sidebar_menu p-0">
              <li class="active">
                 <a  aria-expanded="false" (click)="GoToDashborad()">
                      <i class="icon icon-document-outline"></i> 
                        Dashboard
                 </a>
              </li>
              <li class="has-child">
                  <a aria-expanded="false" (click)="GoToNotfound()">
                      <i class="icon icon-document-outline"></i> 
                      Land Acquisition Request
                  </a>
               </li>
               <li class="has-child">
                  <a href="#." aria-expanded="false">
                      <i class="icon icon-document-outline"></i> 
                      Goof registration requests
                  </a>
               </li>
               <li class="has-child">
                  <a href="#." aria-expanded="false">
                      <i class="icon icon-document-outline"></i> 
                      Notary Request
                  </a>
               </li>
               <li class="has-child">
                  <a href="#." aria-expanded="false">
                      <i class="icon icon-document-outline"></i> 
                      DCI reqst for Un-regstd
                  </a>
               </li>
               <li class="has-child">
                  <a href="#." aria-expanded="false">
                      <i class="icon icon-document-outline"></i> 
                      DCI Reqst - regstd land
                  </a>
               </li>
                     
           </ul>
      </div>


    </aside>
    <div class="main-wrapper">


      <router-outlet></router-outlet>
  </div>

</div>
