<div class="page-flex">
    <aside class="sidebar">

        <div class="media text-center mt-2 mb-5">
            <a href="#">
                <img src="assets/images/logo.svg" alt="" class="img-fluid">
            </a>
        </div>

        <div class="sidebar-body">
            <ul class="sidebar_menu p-0">
                <li class="active">
                    <a href="#." aria-expanded="false">
                        <i class="icon icon-document-outline"></i>
                        Dashboard
                    </a>
                </li>
                <li class="has-child">
                    <a href="#." aria-expanded="false">
                        <i class="icon icon-document-outline"></i>
                        Land Acquisition Request
                    </a>
                </li>
                <li class="has-child">
                    <a href="#." aria-expanded="false">
                        <i class="icon icon-document-outline"></i>
                        Goof registration requests
                    </a>
                </li>
                <li class="has-child">
                    <a href="#." aria-expanded="false">
                        <i class="icon icon-document-outline"></i>
                        Notary Request
                    </a>
                </li>
                <li class="has-child">
                    <a href="#." aria-expanded="false">
                        <i class="icon icon-document-outline"></i>
                        DCI reqst for Un-regstd
                    </a>
                </li>
                <li class="has-child">
                    <a href="#." aria-expanded="false">
                        <i class="icon icon-document-outline"></i>
                        DCI Reqst - regstd land
                    </a>
                </li>

            </ul>
        </div>


    </aside>
    <div class="main-wrapper">


        <nav class="sb-topnav navbar navbar-expand">

            <div class="d-flex justify-content-between w-100 align-items-center">
                <div class="head">
                    <h2 class="head-title txt-color">LAND ADMINISTRATION SYSTEM</h2>
                </div>

                <div class="right-side">
                    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon icon-notification"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#!">Settings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Activity Log</a>
                                </li>
                                <li><hr class="dropdown-divider"/></li>
                                <li>
                                    <a class="dropdown-item" href="#!">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon icon-language"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#!">Settings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Activity Log</a>
                                </li>
                                <li><hr class="dropdown-divider"/></li>
                                <li>
                                    <a class="dropdown-item" href="#!">Logout</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon icon-logout"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#!">Settings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Activity Log</a>
                                </li>
                                <li><hr class="dropdown-divider"/></li>
                                <li>
                                    <a class="dropdown-item" href="#!">Logout</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown user-profile">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                                <div class="d-flex user-content">
                                    <div class="title">
                                        <h4>Ahmed Ali</h4>
                                        <p class="designation text-uppercase">Teller</p>
                                    </div>
                                    <div class="media-img ms-3">
                                        <img src="./assets/images/user.png" alt="">
                                    </div>
                                </div>

                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#!">Settings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Activity Log</a>
                                </li>
                                <li><hr class="dropdown-divider"/></li>
                                <li>
                                    <a class="dropdown-item" href="#!">Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>


        </nav>


        <div class="page-content"></div>


    </div>

</div>
