
  <app-cart *ngIf="userRole === 'customer' && isLogedIn && isCartOpen"></app-cart>
  
  <div *ngIf="userRole === 'customer' &&  openProductDetailsModal == false && !isCartOpen">

  
    <div class="product-cards">
      <div class="product-card"  *ngFor="let product of pagedProducts">
        <!-- Product card content -->
        <div (click)="openModalWithProduct(product)" class="hover-zoom default-zoom">
          <img [src]="product?.images[0]" alt="Product Image" class="product-image">
          <h1 [ngStyle]="{'font-size': '180%', 'font-weight':'bold', 'color': 'indigo'}">{{product?.title}}</h1>
          <h1 [ngStyle]="{'font-size': '120%', 'font-weight':'bold', 'color': 'red'}">${{product?.price}}</h1>
        </div>
    
        <div><button class="add-to-cart-btn" (click)="addToCart(product)">Add to Cart</button>
        </div>
    
      </div>
    </div>
  
  <div class="pagination">
    <button mat-button color="primary" (click)="goToPage(page - 1)" [disabled]="page === 1">Previous</button>
    <span>{{ page }}</span>
    <button mat-button color="primary" (click)="goToPage(page + 1)" [disabled]="page === totalPages">Next</button>
  </div>
  
  </div>
  
  <div>
    <app-product-details-modal
  *ngIf="openProductDetailsModal"
  [product]="selectedProduct"
  (closeModal)="openProductDetailsModal = false"
  ></app-product-details-modal>
  </div>
  <!-- product-cards.component.html -->
  
  
  