
  <app-cart *ngIf="userRole === 'customer' && isLogedIn && isCartOpen"></app-cart>
  
  <div *ngIf="userRole === 'customer' &&  openProductDetailsModal == false && !isCartOpen">

  
  <div class="product-cards">
    <div class="product-card" (click)="openModalWithProduct(product)" *ngFor="let product of pagedProducts">
      <!-- Product card content -->
      <img [src]="product?.images[0]" alt="Product Image" class="product-image">
      <h3>{{ product?.title }}</h3>
      <p>Price: {{ product?.price }}</p>
      <div class="add-to-cart" (click)="addToCart(product)">Add to Cart</div>
    </div>
  
  </div>
  
  <div class="pagination">
    <button mat-button color="primary" (click)="goToPage(page - 1)" [disabled]="page === 1">Previous</button>
    <span>{{ page }}</span>
    <button mat-button color="primary" (click)="goToPage(page + 1)" [disabled]="page === totalPages">Next</button>
  </div>
  
  </div>
  
  <div>
    <app-product-details-modal
  *ngIf="openProductDetailsModal"
  [product]="selectedProduct"
  (closeModal)="openProductDetailsModal = false"
  ></app-product-details-modal>
  </div>
  <!-- product-cards.component.html -->
  
  
  