@import url('https://use.fontawesome.com/releases/v6.3.0/js/all.js');
@import './components/general';
 
// Header 
 
 .page-flex{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
 .main-wrapper {
     position: relative;
     width: 100%;
}
