<div class="container-fluid login-page">
  <div class="row login-section">
      <div class="col-xl-6 col-12 left-column">
        <div class="inner-area d-flex flex-column justify-content-center align-items-start">
          <div class="logo-wrap">
            <img src="assets/images/logo.svg" alt="">
          </div>
          <div class="heading">
            <h1>Welcome to Land Administration System</h1>
          </div>
  
          <div class="description">
            <p>Land Acquisition, Goof Registration, Sale, Gift through a Land Administration Solution</p>
          </div>
        </div>
       
      </div>

      <div class="col-xl-6 login-area">
        <div class="login-form d-flex flex-column">
          <h1>Login</h1>
          <p>Land Administration System</p>
          <div class="form-group input-container d-flex flex-column">
              <label for="username">User Name</label>
              <input type="text" class="input-with-icon username">
          </div>
          <div class="form-group input-container d-flex flex-column">
              <label for="password">Password</label>
              <input type="password" class="input-with-icon password">
          </div>

          <div class="form-group remember-me">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label"> Remember me</label>
          </div>
            <button type="submit" class="btn btn-primary login-btn">Login</button>
      </div>
      </div>
  </div>
</div>