@import '../../../assets/scss/components/basic-theming';

html {
    height: 100%;
}

body {
    height: 100%;
}

.login-page {
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'latoblack';
}

.login-section {
    height: 100vh;

    .login-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 8px solid #004226;
        padding: 30px 30px 15px 30px;

        @media (min-width: 1200px) {
            padding: 0;
        }

        .login-form {

            padding: 0 112px;

            h3 {
                font-size: 36px;
                color: #004226;
                padding-top: 12px;
                padding-bottom: 10px;
                font-weight: 700;
            }
        
            h5 {
                font-size: 18px;
                font-weight: 400;
                color: #7C7C7C;
                margin-bottom: 27px;
            }
        
            .input-container {
                position: relative;
        
                label {
                    color: #262626;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
        
                .username {
                    margin-bottom: 20px;
                }
        
                .password {
                    margin-bottom: 30px;
                }
            
                .input-with-icon {
                    padding-right: 30px;
                    height: 50px;
                    border-radius: 5px;
                    border: 1px solid #CFCFCF;
                    background: #F8F8F8;
                    font-size: 16px;
                    outline: none;
                    background-repeat: no-repeat;
                    background-position: right 5px center;
                    background-size: 24px 24px;
                  

                    // &.username {
                    //     background-image: url('assets/icons/user.svg');
                    // }

                    // &.password {
                    //     background-image: url('assets/icons/unlock.svg');
                    // }
                  }
            }
        
        
            .remember-me {
                color: #0C1013;
                font-size: 14px;
                font-weight: 400;
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 30px ;
        
                .form-check-input{
                    &[type=checkbox]{
                        border-radius: 2px;
                        border: 1px solid #1D252D;
                        width: 18px;
                        height: 18px;
                    }

                    &:checked {
                        border: 1px solid #1D252D;
                        background-color: #1D252D;
                    }
                }
            }
        
            .login-btn {
                border-radius: 5px;
                background: #004226;
                font-size: 20px;
                font-weight: 700;
                border: none;
            }
        
            
        }

        .policy-section {
            gap: 51px;
            margin-top: 25px;

            @media (min-width: 1200px) {
                margin-top: 60px;
            }

            .policy-terms {
                gap: 12px;
    
                p {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: #A7A8A8;
                }
    
                .dot {
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    background-color: #D9D9D9;
                }
            }
        }

       
    }

    .left-column {
        display: none;
        
        @media (min-width: 1200px) {
            display: flex;
            max-height: 100vh;
            min-height: 700px;
            padding: 0;
            background: $bg-blue;
            box-shadow: 0px 12px 24px -2px rgba(0, 0, 0, 0.17);
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        .inner-area {
            width: 500px;
            padding-left: 120px;

            h1 {
                font-size: 64px;
                color: $white;
            }

            p{
                color: $white;
                font-size: 16px;
            }
        }
    }
}