<div class="container-fluid login-page">
  <div class="row login-section">
      <div class="col-xl-6 col-12 left-column">
        <div class="inner-area d-flex flex-column justify-content-center align-items-start">
          <div class="logo-wrap">
            <img src="assets/images/logo.svg" alt="">
          </div>
          <div class="heading">
            <h1>Welcome to Home</h1>
          </div>
  
          <div class="description">
            <p>Administration </p>
          </div>
        </div>
       
      </div>

      <div class="col-xl-6 login-area">
        <div class="login-form d-flex flex-column">
          <div class="logo-wrap">
            <img src="assets/images/logo.svg" alt="">
          </div>
          <p class="login">Forgot Password</p>
          <div class="d-flex dividers">
            <div class="divider"></div>
            <div class="divider"></div>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="forgotPassword()">
            <div class="form-group input-container d-flex flex-column email">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email">
            </div>
            <button type="submit" class="btn btn-primary login-btn">Submit</button>
          </form>
      </div>
      </div>
  </div>
</div>