<div class="container-fluid login-page">
  <div class="row login-section">
    <div class="col-xl-6 col-12 left-column">
      <!-- Left Column Content -->
    </div>

    <div class="col-xl-6 login-area">
      <div class="login-form d-flex flex-column">
        <div class="logo-wrap">
          <img src="assets/images/logo.svg" alt="">
        </div>
        <p class="login">Reset Password</p>
        <div class="d-flex dividers">
          <div class="divider"></div>
          <div class="divider"></div>
        </div>
        <form>
          <div class="form-group input-container d-flex flex-column password">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword">
          </div>
          <div class="form-group input-container d-flex flex-column">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
          </div>
          <button type="button" class="btn btn-primary login-btn" (click)="logout()">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
