@import 'basic-theming';
@import 'mixins';
@import 'typography';

ol,
ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    @include transitionProperty-300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  line-height: 1.4;
}

.h1-lead {
  @include text-22;
}

h1,
.h1 {
  @include text-20;
}

h2,
.h2 {
  @include text-18;
}

h3,
.h3 {
  @include text-12;
}

h4,
.h4 {
  @include text-10;
}

h5,
.h5 {
  @include text-10;
}

h6,
.h6 {
  @include text-10;
}
