@import 'basic-theming';
@import 'mixins';


ol,
ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    @include transitionProperty-300;
}
.txt-color{
  color:$theme-clr;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  line-height: 1.4;
}

.h1-lead {
  @include text-22;
}

h1,
.h1 {
  @include text-65;
}

h2,
.head-title,
.h2 {
  @include text-44;
}

h3,
.secondary-title,
.h3 {
  @include text-24;
}

h4, .section-head,
.h4 {
  @include text-20;
}

h5, .mini-head ,
.h5 {
  @include text-16;
}

h6,
.h6 {
  @include text-15;
}
