<!-- edit-category.component.html -->

<div class="edit-category-container">
    <h2>Edit Category</h2>
    
    <!-- Reactive form for editing category details -->
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="image" formControlName="image">
      </mat-form-field>
    
      <!-- <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field> -->
    
      <!-- Other input fields as needed -->
    
      <button mat-raised-button color="primary" type="submit">Save Changes</button>
    </form>
  </div>
  