
<!-- <div (click)="sendDataToParent()">
      
    click me I am child

</div> -->

<div class="page-flex">
  <aside class="sidebar">
      <div class="media text-center mt-2 mb-5">
          <a href="#">
              <img src="assets/images/logo.svg" alt="" class="img-fluid">
          </a>
      </div>
      {{sidnav['category']}}
      <div class="sidebar-body">
          <ul class="sidebar_menu p-0">
              <li   [ngClass]="{'active': isProduct}" >
                 <a  aria-expanded="false" (click)="goToProducts()">
                      <i class="icon icon-document-outline"></i> 
                        Products {{productCount}}
                 </a>
              </li>
              <li  [ngClass]="{'active': isUser}" class="has-child">
                  <a aria-expanded="false" (click)="goToUsers()">
                      <i class="icon icon-document-outline"></i> 
                      Users 
                  </a>
               </li>
               <li class="has-child" [ngClass]="{'active': isCategory}" >
                  <a  aria-expanded="false" (click)="goToCategories()">
                      <i class="icon icon-document-outline"></i> 
                      Categories
                  </a>
               </li>   
               <!-- <div *ngIf="showParent">{{parentDataa}}</div>                   -->
           </ul>
      </div>
  </aside>
  <div class="main-wrapper">
      <nav class="sb-topnav navbar navbar-expand">
          <div class="d-flex justify-content-between w-100 align-items-center">
              <div class="head">
                    <h2 class="head-title txt-color"></h2>
              </div>
              <div class="right-side">
                  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="icon icon-logout"></span>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                          </ul>
                      </li>

                      <li class="nav-item dropdown">

                    </li>

                      
                  </ul>
              </div>
          </div>
      </nav>
      <router-outlet></router-outlet>
  </div>
</div>
