//colour Variables 
$eastern-blue: #2596be;
$light-grey: #D9D9D9;
$white: #FFFFFF;
$warm-grey:#908F8F;
$dust-grey: #9B9B9B;
$davy-grey: #555555;
$soft-peach: #EAEBF4;
$dusk-blue: #2F3B8F;
$smoky-black: #121212;
$white-smoke: #F4F4F4;
$marble-blue: #F4F4F4;
$gray: #DEDEDE;
$white02: #F5F6F9;
$dark-blue: #2B378D;
$blue: #235EE8;
$black01: #171822;
$gray02: #878EA1;
$gray03: #92929D;
$smoke-white: #F1F1F5;
$charcoal: #383838;
$deep-green: #007616;
$dark-orange: #FF9900;
$ruby-red: #FF0000;
$blue-02: #526484;
$water-blue: #DBDFEA;
$bg-blue: #2A3A8D;
$natural-black: #00000F;
$gray04: #E5E5E5;
